section.first.boarding(style="background-image: url(./img/png/bg.png);")
    .first__container
        h1.first__title ДИЗАЙН ИНТЕРЬЕРА В ФОРМАТЕ ВСЕ ВКЛЮЧЕНО
        p.first__subTitle Продуманный и современный дизайн интерьера с экономией до 3 месяцев на ремонте и выгодой до 100% стоимости проекта за счет бонусов от наших поставщиков!

        form.boarding__form
            .boarding__content
                .boarding__title Скачайте каталог наших работ
                .boarding__subTitle а также узнайте стоимость реализации интерьера под ключ
                .boarding__grid
                    input.input(placeholder='+ 7 (999) 999 99 99')
                    button.button-g Скачть каталог
                .boarding__description PDF, 9 Мб, время скачивания 5 секунд
                .boarding__politics Нажав на кнопку, я даю согласие на обработку <a href="#">персональных данных</a>

            .boarding__img-ibg
                img(src='./img/png/book.png' alt="")
